* {
    font-family: 'Roboto', 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, ul, li {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 1150px;
    margin: 0 auto;
    padding: 0;
}

@import 'base/variables';
@import 'base/mixin';
@import 'blocks/promo';
@import 'blocks/button';
@import 'blocks/media';
@import 'blocks/text';
@import 'blocks/advantage';
@import 'blocks/jobs';
@import 'blocks/agent';