.agent {
    position: relative;
    background: url(../../img/agent/agent__bg.jpg) center center/cover no-repeat;;
    min-height: 342px;
    &::before {
        content: '';
        position: absolute;
        left: 885px;
        top: 26px;
        border: 1px solid #fff;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background: transparent;
    }
    &__logo {
        position: relative;
        display: block;
        margin: 0 auto;
        padding-top: 50px;
        
    }
    &__title {
        font-weight: 700;
        line-height: 23px;
        text-align: center;
        margin-top: 25px;
        color: #fff;
    }
    &__subtitle {
        width: 980px;
        margin: 0 auto;
        font-weight: 300;
        line-height: 27px;
        text-align: center;
        color: #fff;
        margin-top: 15px;
    }
}

// .circle1 {
//     @include circle;
//     position: absolute;
//     left: 885px;
//     top: 26px;
// }