@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        &__inf {
            display: none;
        }
        &__phone {
            display: none;
        }
        &__main {
            font-size: 55px;
        }
        &__secondary {
            font-size: 30px;
        }
    }
    .circle {
        &::after {
            width: 426px;
        }
        &::before {
            
            width: 426px;
            left: -430px;
        }
    }
}

@media (max-width: 960px) {
    .container {
        max-width: 768px;
    }
    .button_callme {
        display: none;
    }
    .circle {
        &::after {
            width: 340px;
        }
        &::before {
            width: 340px;
            left: -352px;
        }
    }
    .header {
        &__main {
            font-size: 35px;
        }
        &__secondary {
            font-size: 25px;
        }
        &__list {
            flex-wrap: nowrap;
            li {
                margin-right: 15px;
            }
        }
    }
}


@media (max-width: 768px) {
    .container {
        max-width: 525px;
    }
    .header {
        &__first {
            font-size: 19px;
        }
        &__main {
            font-size: 30px;
        }
        &__secondary {
            font-size: 20px;
        }
    }
    .icon {
        flex-wrap: wrap;
    }
}