.text {
    font-size: 15px;
    &_fz16 {
        font-size: 16px;
    }
    &_fz14 {
        font-size: 14px;
    }
    &_fz19 {
        font-size: 19px;
    }
    &_fz21 {
        font-size: 21px;
    }
    &_fz26 {
        font-size: 26px;
    }
}